<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/test.css">
</head>
<body>
    <div class="navbar">
    <div class="navbar-title">
        <div class="title-container">
            <h1 class="oswald-medium">aaron maciag</h1>
            <h4 class="oswald-medium">software engineer</h4>
        </div>
    </div>
    <div class="nav-links oswald-medium">
        <a href="#about" class="nav-link" data-target="about">about</a>
        <a href="#projects" class="nav-link" data-target="projects">projects</a>
        <a href="#contact" class="nav-link" data-target="contact">contact</a>
    </div>
</div>
</body>
</html>