<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/test.css">
</head>
<body>
    <div class="navbar">
    <div class="navbar-title">
        <div class="title-container">
            <h1 class="oswald-medium">aaron maciag</h1>
            <h4 class="oswald-medium">software engineer</h4>
        </div>
    </div>
    <div class="nav-links oswald-medium">
        <a href="google.com">about</a>
        <a href="google.com">projects</a>
        <a href="google.com">contact</a>
    </div>
</div>
    <div class="container">
        <div id="about" class="oswald-medium" style="justify-content: left;">
             <h2>About me</h2>
        </div>
    </div>
</body>
</html>