<!DOCTYPE html>
<html>
    {{>header}}
    <link rel="stylesheet" href="/stylesheets/style.css">
    <body>
        
        <div class="content">
        {{{body}}}
        </div>
    </body>
</html>