<!DOCTYPE htms>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Weekend Athletics Main Page</title>
        <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    </head>
    <body>
        <div id="page">
            {{> header }}
            <div id="contents">
                
            </div>
        </div>
    </body>
</html>