* {
    font-family: Helvetica;
}
.header {
    background-image: url('./pattern.jpeg')
}

.header h1 {
    color: khaki;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
}


.title h2 {
    font-size: 32px;
    color: white;
    font-weight: bold;
}

figcaption {
    font-weight: bold;
}